.header {
    display: flex;
    width: 1100px;
    min-height: 293px;
    height: auto;
    padding: 92px 60px 92px 45px;
    box-sizing: border-box;
    gap: 33px;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.header_left {
    display: flex;
    justify-self: start;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.header_list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    text-underline-offset: 4px;
    gap: 23px;
}

.list_item {
    padding: 5px;
}

.list_item:first-child a {
    text-decoration: none;
}

.list_item:first-child {
    list-style: none;
}

.logo {
    width: 148px;
    max-height: 106px;
    height: auto;
}

.header_address {
    width: 230px;
    justify-self: end;
    margin-left: auto;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.main {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-top {
    width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.section_top_background {
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.6);
    padding: 165px 20px 50px 50px;
}

.top_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top_span {
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.top_span_left {
    text-align: left;
}

.top_span_center {
    text-align: center;
}

.top_span_right {
    text-align: right;
}

.top_content_footer {
    display: flex;
    margin: 107px 30px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.top_footer_text {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 19px;
}

.top_footer_button {
    width: 256px;
    height: 51px;
    background-color: rgba(0 0 0 / 0);
    border: 1px solid currentColor;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.section-overlay {
    width: 1052px;
    margin-top: 180px;
    padding: 0px;
    position: relative;
}

.h_overlay {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 25px;
}

.lot-container {
    display: flex;
    gap: 25px;
    width: 1052px;
    margin: 0 0 30px 0;
}

.lot {
    width: 334px;
    min-height: 596px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
}

.lot_left {
    background-image: url(../images/card-lot-01.jpg);
}

.lot_center {
    background-image: url(../images/card-lot-02.jpg);
}

.lot_right {
    background-image: url(../images/card-lot-03.jpg);
}

.lot::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    justify-content: space-between;
}

.overlay {
    position: relative;
    z-index: 2;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lot h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
}

.lot p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.a_overlay {
    font-size: 20px;
    font-weight: 400;
    text-underline-offset: 5px;
    margin-left: 40px;
}

.section_bottom {
    width: 1052px;
    margin-top: 120px;
    padding: 35px 0px 0px 47px;
    gap: 40px;
    display: flex;
    position: relative;
}

.block_bottom_logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_logo_img {
    width: 148px;
    height: 114px;
}

.bottom_content {
    width: 688px;
    right: 0px;
    bottom: 0px;
    margin-top: 99px;
    margin-left: 32px;
}

.h_bottom {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-top: 3px;
    margin-bottom: 100px;
}

.p_bottom {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-top: 24px;
    margin-bottom: 0px;
}

.footer {
    width: 1100px;
    display: flex;
    margin-top: 130px;
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
}

.footer_adress {
    width: 240px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 24.3px;
}

.a_footer {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer_nav {
    width: 163.89999389648438px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_contacts {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer_logo {
    width: 48px;
    height: 48px;
}
