.header {
    width: 1100px;
    height: 293px;
    padding: 50px; 
    background-color: #fff;
    display: flex;
    position: relative;
    font-size: 18px;
    font-weight: 400;
}

.header_left {
    display: flex;
    position: absolute;
    top: 128px;
    left: 50px;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.header_list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: circle;
    text-underline-offset: 4px;
    gap: 24px;
}

.list_item {
    padding: 5px;
}

.header_center {
    position: absolute;
    left: 476px;
    top: 92px;
}

.logo {
    width: 148px;
    height: 105px;
}

.header_right {
    width: 230px;
    height: 98px;
    position: absolute;
    top: 96px;
    right: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.main {
    width: 1100px;
    height: 2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-top {
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative; 
}

.top_background {
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.6);
    display: flex;
    justify-content: center;
}

.top_content {
    width: 1000px;
    height: 385px;
    position: relative;
    margin-top: 165px;
    padding: 0px;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
}

.top_content_left {
    position: absolute;
    left: 0px;
    top: 0px;
}

.top_content_center {
    position: absolute;
    left: 330px;
    top: 134px;
}

.top_content_right {
    position: absolute;
    right: -30px;
    bottom: -1px;
}

.top_content_footer {
    width: 1000px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 50px;
    bottom: 49px;
}

.top_footer_text {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 19px;
}

.top_footer_button {
    width: 256px;
    height: 51px;
    background-color: rgba(0 0 0 / 0);
    border: 1px solid #fff;
}

.a_top_footer_button {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.section-middle {
    width: 1052px;
    height: 723px;
    margin-top: 180px;
    padding: 0px;
    position: relative;
}

.h_middle {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-left: 40px;
}

.block_middle_row {
    width: 100%;
    height: 596px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-top: 27px;
}

.middle_block {
    width: 334px;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.middle_block_first {
    background-image: url(../images/card-lot-01.jpg);
}

.middle_block_second {
    background-image: url(../images/card-lot-02.jpg);
}

.middle_block_third {
    background-image: url(../images/card-lot-03.jpg);
}

.middle_background {
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.6);
    display: flex;
    padding: 48px 40px 48px 40px;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.a_block_middle {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2em;
}

.p_block_middle {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #fff;
}

.a_middle {
    font-size: 20px;
    font-weight: 400;
    text-underline-offset: 5px;
    position: absolute;
    left: 40px;
    bottom: -1px;
}

.section-bottom {
    width: 1052px;
    height: 595px;
    margin-top: 120px;
    padding: 35px 0px 0px 47px;
    gap: 40px;
    display: flex;
    position: relative;
}

.block_bottom_logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_logo_img {
    width: 148px;
    height: 114px;
}

.bottom_content {
    width: 688px;
    height: 460px;
    right: 0px;
    bottom: 0px;
    margin-top: 99px;
    margin-left: 32px;
}

.h_bottom {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-top: 3px;
    margin-bottom: 100px;
}

.p_bottom {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-top: 24px;
    margin-bottom: 0px;
}

.footer {
    width: 1100px;
    height: 180px;
    display: flex;
    margin-top: 106px;
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
}

.footer_left {
    width: 240px;
    height: 98px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 24.3px;
}

.a_footer {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer_center {
    width: 163.89999389648438px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_right {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    width: 48px;
    height: 48px;
}